<?php
 $order = $data['order'];
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>McDonalds|Index</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="user">User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>New customer: Nebojsa</h1>
        Order:
        <?php echo $order->getDescription()?><br>
        Receipt:
        <?php echo $order->getPrice(); ?><br>
    </main>

</body>
</html>